.error {
    display: none;
}

.addPersonForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.spacing {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.btn {
    color: white;
    background-color: rgb(21, 79, 81);
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
}

.userName {
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}